name: Build Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: write

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - run: ./gradlew build

      - name: Enable auto merge for Dependabot PRs
        run: gh pr merge --auto --rebase --delete-branch "${{ github.event.pull_request.html_url }}"
        if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
